html
  font-family 'Open Sans'
  font-size 16px

body
  background-color $violet

.error
  .form__message
    display block

.page-section
  padding-top 57px
  padding-bottom 57px

  &__container
    padding 0 10px

    @media (min-width $screen-sm)
      padding 0

  &__center
    text-align center

  &__logo
    display inline-block
    overflow hidden
    width 148px
    height 30px

  &__link
    color $color-link

    &:hover
      color $color-link-hover
